body {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 70px;
    padding: 0 20px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-link {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}


.nav-link li a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* NAVBAR */

/* HERO IMG */

.hero-section {
    height: 100vh; 
    background: #111827; 
}

.left-column-hero {
    padding-top: 100px;
}

.row-hero-content {
    margin-top: 100px;
}

.left-text {
    width: 40%;
}
.welcome-text {
    color: #EAB308;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.name-text {
    color: #F3F4F6;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
}

.description-text {
    color: #6B7280;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; 
    padding-right: 140px;
}

.contact-btn {
    margin-top: 30px;
    border-radius: 4px;
    background: #FACC15;
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    height: auto;
    width: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.hero-image {
    border-radius: 29px;
    width: 477px;
    height: 477px;
    object-fit: cover; 
}

/* HERO IMG */

/* O NAS */
.aboutme {
    background: #020617;
}

.row-aboutme {
    padding: 100px 0;
}
.yellow-text {
    color: #EAB308;
}
.white-text {
    color: #ffffff;
}
.gray-text {
    color: #6B7280;
}
.header-text {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
}
.description-text {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.image-frame {
    width: 475px;
    height: 502px;
    flex-shrink: 0;
}

.left-column-about {
    position: relative;
}

.hero-absolut {
    position: absolute;
    width: 475px;
    height: 502px;
    top: -30px;
    right: 50px;
}
/* O NAS */


/* MOJE SUŽBY */

.section-services {
    padding: 100px 0;
    background-color: #111827;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #6B7280;
    text-align: left;
    margin: 20px 0;
}

.service-container {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0;
    gap: 30px;
}

.service-box {
    width: 286px;
    height: 278px;
    background-color: #020617;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.service-icon {
    margin-bottom: 5px;
}

.service-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
    color: #F3F4F6;
    text-align: center;
    margin: 10px 0;
}

.service-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #6B7280;
    text-align: center;
    margin: 10px 10px;
}
/* MOJE SUŽBY */

/* MY SKILLS */
.skills-section {
    background-color: #020617;
    padding: 30px 0;
}

.header-text {
    text-align: center;
    margin-bottom: 30px;
}

.white-text {
    color: #D1D5DB;
}

.yellow-text {
    color: #EAB308;
}

.skill {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    width: 100px;
    height: 100px;
}

.skill-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D1D5DB;
}

.skill-bg {
    stroke: #D1D5DB;
    fill: none;
    stroke-width: 5;
}

.skill-fg {
    fill: none;
    stroke: #EAB308;
    stroke-width: 5;
    stroke-dasharray: 314; /* predefinovaná hodnota, ktorej bude možno treba prispôsobiť */
    stroke-dashoffset: 314;
    transition: stroke-dashoffset 0.5s;
}

.skill:hover .skill-fg {
    stroke-dashoffset: 0; /* Toto by ste mohli upraviť podľa potreby */
}

/* MY SKILLS */